.bg-secondary{
	background-color: white!important;
}	
.text-primary{
	color: #2113ff!important;
}
.form-control {
    background-color: rgb(233 236 239);
    }
 .form-control::after {
    background-color: rgb(233 236 239);
    }
     .form-control:hover {
    background-color: rgb(233 236 239);
    }
 h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #0c0c0c;
}
a {
    color: #2113ff;
}
