.bg-secondary{
	background-color: #191C24 !important;
}	
.text-primary{
	color: #2113ff!important;
}
.form-control {
    background-color: rgb(0 0 0);
    }
 .form-control::after {
    background-color: rgb(233 236 239);
    }
     .form-control:hover {
    background-color: rgb(233 236 239);
    }
 h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #ffffff;
}
a {
        color: #c5c5c5;
}
.table{
	    color: #e1e1e1;
    vertical-align: top;
    border-color: #fff;
}
.bg-ternary{
	background-color: #232323;
}
.form-control:disabled, .form-control:read-only {
    background-color: #000000;
    opacity: 1;
}
