body {
  font-family: "Roboto", Arial, sans-serif;
  overflow-x: hidden;
  --color-primary: #1938cf;
  --color-secondary: #221f1f;
}

.page00000 {
 /* max-width: 600px; */
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
/*  min-height: 500px; */
  padding: 80px 0;
}

.notification2 {
  position: relative;
  top: 40px;
  right: -20px;
  margin-top: 5px;
  min-width: 340px;
  min-height: 40px;
  transition: right 1.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.notification2::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0%;
  left: -2.5%;
  width: 3.5%;
  height: 100%;
  border-radius: 10px;
  left: -4%;
  background-color: var(--color-primary);
  transform: translateX(100%);
  transition: transform 1.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
}

.notification2::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0%;
  left: -2.5%;
  width: 102.5%;
  height: 100%;
  border-radius: 10px;
  transition: transform 1.8s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
  transform: translateX(100%);
}

.notification2.-active {
  right: 10px;
}

.notification2.-active::after,
.notification.-active::before {
  transform: translateX(0%);
}

.notification2.-active::after {
  transition: transform 1.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}

.notification2.-active::before {
  transition: transform 1.7s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.notification2.-active .notification__content {
  transform: translateX(0%);
  left: 0;
  transition: left 1.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, transform 1.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}

.notification__content {
  border-radius: 4px;
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 17px 40px 13px 40px;
 box-shadow: 0 3px 6px 0 rgb(0 0 0 / 35%);
  transform: translateX(100%);
  left: 100%;
  transition: left 2s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.notification__content > *:not(:last-child) {
  margin-bottom: 10px;
}

.notification__title {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 0 8px !important;
  line-height: 0.6;
  font-size: 16px;
}

.notification__message {
  margin: 0;
  font-size: 13px;
}

.notification__button {
  font-size: 11px;
  text-decoration: none;
  background-color: var(--color-primary);
  color: white;
  padding: 8px 25px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 700;
}

.notification__button + .notification__button {
  margin-left: 5px;
}

.notification__button.-secondary {
  background-color: transparent;
  color: var(--color-primary);
  box-shadow: inset 0 0 0 2px var(--color-primary);
  transition: all 0.24s ease-in-out;
}

.notification__button.-secondary:hover {
  background-color: var(--color-primary);
  color: white;
}

.toggle-button {
  border: 0;
  cursor: pointer;
  font-size: 11px;
  text-decoration: none;
  background-color: var(--color-primary);
  color: white;
  padding: 8px 25px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 700;
}
