.primary-colour {
	background-color: #1938cf !important;
}
.notification {
	color: #e7b214;
	font-size: 23px;
	margin-right: 7px;
	vertical-align: middle;
}
.uppernav {
    padding: 0.8rem!important;
    padding-bottom: 0px !important;
}
.banner-background{
	clip-path: polygon(0 0, 100% 0, 100% 29%, 100% 97%, 72% 91%, 28% 98%, 0 91%, 0% 30%);
	}
.title-font{
	font-family: none;
}
.title{
	height: 47px;
    margin-left: -25px;
}


