<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddPinsServlet</servlet-name>
  	<display-name>AddPinsServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.AddPinsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchPinServlet</servlet-name>
  	<display-name>SearchPinServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.SearchPinServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepartmentLoginServlet</servlet-name>
  	<display-name>DepartmentLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DepartmentLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepartmentLogoutServlet</servlet-name>
  	<display-name>DepartmentLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DepartmentLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddPinsServlet</servlet-name>
  	<url-pattern>/AddPinsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchPinServlet</servlet-name>
  	<url-pattern>/SearchPinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepartmentLoginServlet</servlet-name>
  	<url-pattern>/DepartmentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepartmentLogoutServlet</servlet-name>
  	<url-pattern>/DepartmentLogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
