<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddPinsServlet</servlet-name>
  	<display-name>AddPinsServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.AddPinsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchPinServlet</servlet-name>
  	<display-name>SearchPinServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.SearchPinServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepartmentLoginServlet</servlet-name>
  	<display-name>DepartmentLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DepartmentLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepartmentLogoutServlet</servlet-name>
  	<display-name>DepartmentLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DepartmentLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<display-name>UpdateUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<display-name>DeleteUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageAdminsServlet</servlet-name>
  	<display-name>ManageAdminsServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.ManageAdminsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitSuggestionsServlet</servlet-name>
  	<display-name>SubmitSuggestionsServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.SubmitSuggestionsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSuggestionServlet</servlet-name>
  	<display-name>DeleteSuggestionServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DeleteSuggestionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSuggestionByAdminServlet</servlet-name>
  	<display-name>DeleteSuggestionByAdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DeleteSuggestionByAdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitIssueServlet</servlet-name>
  	<display-name>SubmitIssueServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.SubmitIssueServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteIssueServlet</servlet-name>
  	<display-name>DeleteIssueServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DeleteIssueServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IssueProgressServlet</servlet-name>
  	<display-name>IssueProgressServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.IssueProgressServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendNotificationServlet</servlet-name>
  	<display-name>SendNotificationServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.SendNotificationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteNotificationServlet</servlet-name>
  	<display-name>DeleteNotificationServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DeleteNotificationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDevelopmentServlet</servlet-name>
  	<display-name>AddDevelopmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.AddDevelopmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RatingsAndFeedbackServlet</servlet-name>
  	<display-name>RatingsAndFeedbackServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.RatingsAndFeedbackServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteRatingServlet</servlet-name>
  	<display-name>DeleteRatingServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DeleteRatingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDevelopmentServlet</servlet-name>
  	<display-name>UpdateDevelopmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.UpdateDevelopmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDevelopmentServlet</servlet-name>
  	<display-name>DeleteDevelopmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DeleteDevelopmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentServlet</servlet-name>
  	<display-name>PaymentServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.PaymentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDatabaseServlet</servlet-name>
  	<display-name>UpdateDatabaseServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.UpdateDatabaseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddRecruitmentServlet</servlet-name>
  	<display-name>AddRecruitmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.AddRecruitmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteRecruitmentServlet</servlet-name>
  	<display-name>DeleteRecruitmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.city.watch.servlet.DeleteRecruitmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddPinsServlet</servlet-name>
  	<url-pattern>/AddPinsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchPinServlet</servlet-name>
  	<url-pattern>/SearchPinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepartmentLoginServlet</servlet-name>
  	<url-pattern>/DepartmentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepartmentLogoutServlet</servlet-name>
  	<url-pattern>/DepartmentLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageAdminsServlet</servlet-name>
  	<url-pattern>/ManageAdminsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitSuggestionsServlet</servlet-name>
  	<url-pattern>/SubmitSuggestionsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSuggestionServlet</servlet-name>
  	<url-pattern>/DeleteSuggestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSuggestionByAdminServlet</servlet-name>
  	<url-pattern>/DeleteSuggestionByAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitIssueServlet</servlet-name>
  	<url-pattern>/SubmitIssueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteIssueServlet</servlet-name>
  	<url-pattern>/DeleteIssueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IssueProgressServlet</servlet-name>
  	<url-pattern>/IssueProgressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendNotificationServlet</servlet-name>
  	<url-pattern>/SendNotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteNotificationServlet</servlet-name>
  	<url-pattern>/DeleteNotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDevelopmentServlet</servlet-name>
  	<url-pattern>/AddDevelopmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RatingsAndFeedbackServlet</servlet-name>
  	<url-pattern>/RatingsAndFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteRatingServlet</servlet-name>
  	<url-pattern>/DeleteRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDevelopmentServlet</servlet-name>
  	<url-pattern>/UpdateDevelopmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDevelopmentServlet</servlet-name>
  	<url-pattern>/DeleteDevelopmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentServlet</servlet-name>
  	<url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDatabaseServlet</servlet-name>
  	<url-pattern>/UpdateDatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddRecruitmentServlet</servlet-name>
  	<url-pattern>/AddRecruitmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteRecruitmentServlet</servlet-name>
  	<url-pattern>/DeleteRecruitmentServlet</url-pattern>
  </servlet-mapping>
</web-app>
